body {
    background-color: #121212;
}

footer,
.nav-buttons {
    transition: color 0.5s, background-color 0.5s;
    background-color: rgb(68, 60, 53) !important;
}

#results-container {
    /* MEDIUM: this is a hack to make downloaded images look OK on macOS, but
    it's not a guarantee that it'll look OK on all OSes... */
    background-color: #121212;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    color: hsla(160, 100%, 37%, 1);
}

.tie-break-row {
    background: rgba(59, 130, 246, 0.16);
    color: #3b82f6;
}

.tie-break-unresolved-row {
    background: rgba(234, 179, 8, 0.16);
    color: #eab308;
}

.incomplete-row {
    background: rgba(234, 179, 8, 0.16);
    color: #eab308;
}
