body {
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

#app {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  font-weight: normal;
}

h1, h2, h3, .p-button-label, .p-dialog-title {
  margin: 0;
  font-weight: normal;
}

a {
  padding: 3px;
}

.p-message .p-message-text {
    font-size: 14px;
}

@media screen and (max-width: 575px) {
  .p-toast {
    left: 20px;
    width: unset;
  }
}

@media screen and (min-width: 576px) {
  .md\:text-base {
    font-size: unset!important;
  }
}
